<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="caceresenzo.apps.iutschedule"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="27" />

    <application
        android:name=".application.ScheduleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/application_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/activity_about"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeInversed" >
        </activity>
        <activity
            android:name=".activities.IntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/activity_settings" />
        <activity
            android:name=".activities.ScheduleItemDetailActivity"
            android:label="@string/activity_schedule_item_detail"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppThemeInversed" >
        </activity>

        <service
            android:name=".services.ScheduleNotificationService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>